
$white: #ffffff;
$white: #ffffff;
$black: #000000;
$primary1: #ffbe33;
$primary2: #222831;
$textCol: #1f1f1f;
.food_section .box .detail-box h5 {
    font-weight: 600;
    color:$white;
  }

p, h6 {
    color: $white;
}
