<nb-tabset class="custom-tabset" *ngIf="subCategories.length !== 0">
    <nb-tab *ngIf="subCategories.length !== 0" [tabTitle]="parentCategoryName">
        <app-product-list [categoryId]="parentCategoryId"></app-product-list>
    </nb-tab>
    <nb-tab *ngFor="let subCategory of subCategories" tabTitle='{{subCategory.name}}'>
        <app-product-list *ngIf="subCategories.length === 0" [categoryId]="subCategory.id!">
        </app-product-list>
        <app-subcategory-list [parentCategoryName]="subCategory.name" [parentCategoryId]="subCategory.id!">
        </app-subcategory-list>
    </nb-tab>
</nb-tabset>
<app-product-list *ngIf="subCategories.length === 0" [categoryId]="parentCategoryId">
</app-product-list>