.img-box
{
    width: 25%;
}

img{
    width: 100%;
}

@media (min-width: 576px) {
    .img-box
    {
        width: 25%;
    }
    .desc-box
    {
        padding:15px;
        margin: 0;
    }
    img{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .img-box
    {
        width: 25%;
        padding: 15px;
    }
    img{
        width: 80%;
    }
}


