<p class="text-center" *ngIf="!reset">
    {{'error.lost' | translate}}
</p>

<div *ngIf="reset">
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <h1 id="title" class="title">{{'account.reset-password.title' | translate}}</h1>
            <p class="sub-title">{{'account.reset-password.instruction' | translate}}</p>

            <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
                <p class="alert-title"><b>Oh snap!</b></p>
                <ul class="alert-message-list">
                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                </ul>
            </nb-alert>

            <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
                <p class="alert-title"><b>Hooray!</b></p>
                <ul class="alert-message-list">
                    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                </ul>
            </nb-alert>
        </div>
    </div>

    <form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">

        <div class="form-control-group">
            <div class="row mb-3">
                <div class="col-sm-2 col-form-label">
                    <fa-icon [icon]="['fas', 'lock']" size="2x"></fa-icon>
                </div>
                <div class="col-sm-10">
                    <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password"
                        type="password" id="input-password" placeholder='{{"user.renewPassword" | translate }}'
                        fieldSize="large" [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
                        [required]="getConfigValue('forms.validation.password.required')"
                        [minlength]="getConfigValue('forms.validation.password.minLength')"
                        [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                        [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                </div>
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <ng-container *ngIf="password.invalid && password.touched ">
                        <p class="caption status-danger" *ngIf="password.errors?.required">
                            {{"error.required.field" | translate:{'field':
                            [['user.password' | translate ]]} }}
                        </p>
                        <p class="caption status-danger"
                            *ngIf="password.errors?.minlength || password.errors?.maxlength">
                            {{"password.error.length" | translate:{'minLength':
                            getConfigValue('forms.validation.password.minLength'), 'maxLength':
                            getConfigValue('forms.validation.password.maxLength')} }}
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>



        <div class="form-control-group">
            <div class="row mb-3">
                <div class="col-sm-2 col-form-label">
                    <fa-icon [icon]="['fas', 'lock']" size="2x"></fa-icon>
                </div>
                <div class="col-sm-10">
                    <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password"
                        id="input-re-password" name="rePass" placeholder='{{"user.rePassword" | translate }}' fullWidth
                        [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
                        [required]="getConfigValue('forms.validation.password.required')"
                        [minlength]="getConfigValue('forms.validation.password.minLength')"
                        [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                        [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
                </div>
            </div>
            <div class="row">
                <div class="col offset-md-2">
                    <ng-container *ngIf="rePass.invalid && rePass.touched">
                        <p class="error-message caption status-danger" *ngIf="rePass.errors?.required">
                            {{"error.required.field" | translate:{'field':
                            [['user.rePassword' | translate]]} }}
                        </p>
                        <p class="error-message caption status-danger"
                            *ngIf="password.value != rePass.value && !rePass.errors?.required">
                            {{"error.password.confirm" |translate}}
                        </p>
                    </ng-container>
                    <ng-container>
                        <p class="error-message caption status-danger"
                            *ngIf="password.value != rePass.value && !rePass.errors?.required">
                            {{"error.password.confirm" |translate}}
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button nbButton status="success" fullWidth [disabled]="submitted || !resetPassForm.valid"
                    [class.btn-pulse]="submitted">
                    {{'button.send' | translate}}
                </button>
            </div>
        </div>
    </form>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <section class="sign-in-or-up" aria-label="Sign in or sign up">
                <p><a class="text-link" routerLink="../sign-in">{{'Login.sign-in' | translate}}</a></p>
                <p><a class="text-link" routerLink="../register">{{'account.register.create' | translate}}</a></p>
            </section>
        </div>
    </div>
</div>