<app-carousel></app-carousel>

<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="assets/images/home/onseat.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>{{ "home.takeway" | translate }}</h5>
              <h6><span></span></h6>
              <a>{{ "home.book" | translate }}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="../../../assets/images/home/delivery.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>{{ "home.delivery" | translate }}</h5>
              <h6><span></span></h6>
              <a>{{ "home.order" | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>{{ "home.about-title" | translate }}</h2>
          </div>
          <p>{{ "home.about-message" | translate }}</p>
          <a routerLink="/about">
            {{ "home.about-read-more" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client_section layout_padding-bottom mt-5">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>{{ "home.customer-notice-title" | translate }}</h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-6">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="assets/images/client1.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="assets/images/client2.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-6">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="assets/images/client1.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <h6>Moana Michell</h6>
                  <p>magna aliqua</p>
                </div>
                <div class="img-box">
                  <img src="assets/images/client2.jpg" alt="" class="box-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="owl-nav disabled">
            <button type="button" href="#carouselExampleControls" role="button" class="owl-prev" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
            <button type="button" href="#carouselExampleControls" role="button" class="owl-next" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
  </div>
</section>
