<div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">

        <h1 id="title" class="title">{{'account.request-password.title' | translate }} <fa-icon
                [icon]="['fas', 'surprise']" size="2x"></fa-icon>
        </h1>
        <p class="sub-title">{{'account.request-password.instruction' | translate }}</p>

        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            </ul>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
            </ul>
        </nb-alert>
    </div>
</div>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <div class="row mb-3">
            <div class="col-sm-2 col-form-label">
                <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
            </div>
            <div class="col-sm-10">
                <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
                    pattern=".+@.+\..+" placeholder='{{"user.email" | translate }}' fieldSize="large"
                    [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                    [required]="getConfigValue('forms.validation.email.required')"
                    [attr.aria-invalid]="email.invalid && email.touched ? true : null">
            </div>
        </div>
        <div class="row">
            <div class="col offset-sm-2 offset-md-2">
                <ng-container *ngIf="email.invalid && email.touched">
                    <p class="caption status-danger" *ngIf="email.errors?.required">
                        {{"error.required.field" | translate:{'field':
                        [['user.email' | translate ]]} }}
                    </p>
                    <p class="caption status-danger" *ngIf="email.errors?.pattern">
                        {{"error.email.valid" | translate}}
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button nbButton fullWidth status="success" [disabled]="submitted || !requestPassForm.valid"
                [class.btn-pulse]="submitted">
                {{'button.password-request' | translate}}
            </button>
        </div>
    </div>
</form>
<div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
        <section class="sign-in-or-up" aria-label="Sign in or sign up">
            <p><a class="text-link" routerLink="../sign-in">{{'Login.sign-in' | translate }}</a></p>
            <p><a routerLink="../register" class="text-link">{{'account.register.create' | translate }}</a></p>
        </section>
    </div>
</div>