<!--<div class="hero_area">-->
<!--  <div class="bg-box">-->
<!--    <img src="./assets/images/hero-bg.jpg" alt="">-->
<!--  </div>-->
<div class="hero_area">
  <div class="bg-box">
    <img src="./assets/images/hero-bg.jpg" alt="">
  </div>
  <app-header></app-header>
  <app-carousel></app-carousel>
</div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
<!--</div>-->






<!--<div class="d-flex flex-column h-100">-->
<!--  <div class="hero_area">-->
<!--    <div class="bg-box">-->
<!--      <img src="./assets/images/hero-bg.jpg" alt="hero-bg.jpg">-->
<!--    </div>-->
<!--    <app-header></app-header>-->

<!--    <main class="flex-shrink-0">-->
<!--      <nb-layout>-->
<!--        <nb-layout-column >-->
<!--          <router-outlet></router-outlet>-->
<!--        </nb-layout-column>-->
<!--      </nb-layout>-->
<!--    </main>-->

<!--    <footer class="mt-auto">-->
<!--      <app-footer></app-footer>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->
