<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div class="container">
                    <div class="row">
                        <div *ngIf="nbProductInCart === 0">
                            <h2 class="text-center title">{{'cart.empty' | translate}} <i class="fa-solid fa-lg fa-heart-crack"></i>
                            </h2>
                            <div class="d-flex justify-content-center">
                                <button nbButton (click)="goMenu()" type="button" class="home-button">
                  {{'button.navigateToCart' | translate}}
                </button>
                            </div>
                        </div>
                        <h1 id="title" *ngIf="nbProductInCart !== 0" class="title text-center">{{"cart.title" | translate }}</h1>
                    </div>
                    <div class="row" *ngIf="nbProductInCart !== 0">
                        <div class="col">
                            <div>
                                <app-shopping-cart-item *ngFor="let groupedCommandeProduct of getCommandeProductByKeyAndCommentArrays()" [groupedCommandeProduct]="groupedCommandeProduct">
                                </app-shopping-cart-item>
                            </div>
                        </div>
                        <div class="col">
                            <nb-card>
                                <nb-card-body>
                                    <div class="row col mb-2">
                                        <nb-select [formControl]="selectedItemFormControl">
                                            <nb-option value="TAKE_AWAY">{{'commande.type.takeAway' | translate }}</nb-option>
                                            <nb-option value="DELIVERY">{{'commande.type.delivery' | translate}}</nb-option>
                                        </nb-select>
                                    </div>
                                    <mat-divider class="mb-3 mt-3"></mat-divider>
                                    <app-resume-commande [translateExpression]="'button.completeCommande'"></app-resume-commande>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>