<nb-layout class="custom-layout">
    <nb-layout-column class="custom-layout-column">
        <nb-card>
            <nb-card-body>
                <div class="container-sm">
                    <div class="row">
                        <div class="col mx-auto"  *ngIf="getNbProduct() === 0">
                            <h2 class="text-center title">{{'cart.empty' | translate}} <i
                                    class="fa-solid fa-lg fa-heart-crack"></i>
                            </h2>
                            <div  class="d-flex justify-content-center">
                                <button  nbButton (click)="goMenu()" type="button" class="home-button mx-auto">
                                    {{'button.navigateToCart' | translate}}
                                </button>
                            </div>
                        </div>
                        <h1 id="title" *ngIf="getNbProduct() !== 0" class="title text-center mx-auto">{{"cart.title" |
                            translate }}</h1>
                    </div>
                    <div class="row" *ngIf="getNbProduct() !== 0">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <nb-card>
                                <nb-card-body style="padding-top: 15px;">
                                    <app-shopping-cart-item
                                        *ngFor="let groupedCommandeProduct of groupedCommandeProducts$ | async"
                                        [groupedCommandeProduct]="groupedCommandeProduct">
                                    </app-shopping-cart-item>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <nb-card>
                                <nb-card-body class="p-2">
                                    <div class="row no-gutters mb-2">
                                        <nb-select class="mx-auto" [formControl]="selectedItemFormControl">
                                            <nb-option value="TAKE_AWAY">
                                              {{'commande.type.takeAway' | translate }}
                                            </nb-option>
                                            <nb-option value="DELIVERY">
                                              {{'commande.type.delivery' | translate}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                    <mat-divider class="mb-3 mt-3"></mat-divider>
                                    <app-resume-commande></app-resume-commande>
                                    <div class="row no-gutters">
                                        <button class="mx-auto" nbButton shape="semi-round" status="warning" size="medium" hero type="button"
                                            (click)="completeCommande()">{{'button.completeCommande' | translate}}  </button>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
