@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-enable-css-custom-properties: true;

//$tabset-tab-active-text-color: #be33ff;
$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

  color-primary-500: #ffbe33,
  text-primary-hover-color : #ffbe33,
  //$tabset-tab-active-text-color : #be33ff

), default, default);

// Custom tabset style
nb-tabset li {
  cursor: pointer;
  border-radius: 25px;
}

nb-tabset li.tab.active {
  background-color: #222831;
  color: #ffffff!important;
}

nb-tabset .tab.active .tab-link::before {
  background-color: transparent!important;
}

nb-tabset .tab a::before {
  display: none;
}

nb-tabset .tab-link.active {
  color: #000000!important;
}

nb-tabset .tabset{
  justify-content: center;
}

nb-layout-column {
  padding: 0 !important;
}

nb-card {
  margin: 0 !important;
  min-height: 100vh;
}
