<header class="header_section" style="background-color:black;">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="index.html">
            <span>
              {{ "header.logo" | translate }}
            </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mx-auto ">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">{{ "header.home" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu">{{ "header.menu" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deals">{{ "header.deals" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/approach">{{ "header.approach" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/join">{{ "header.join" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">{{ "header.contact" | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav user_option">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn nav_search-btn dropdown-toggle" type="button"
                      data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item nav-link" (click)="updateProfil()" *ngIf="isAuthenticated">
                  <i class="fas fa-user me-auto"></i> &nbsp; {{'button.updateProfil' | translate}}
                </a>
                <a class="dropdown-item nav-link" (click)="displayCommandes()" *ngIf="isAuthenticated">
                  <i class="fas fa-pizza-slice"></i> &nbsp; {{'button.userCommande' | translate}}
                </a>
                <a class="dropdown-item nav-link" (click)="logout()" *ngIf="isAuthenticated">
                  <i class="fas fa-sign-out-alt"></i> &nbsp; {{'button.logout' | translate}}
                </a>
                <a class="dropdown-item nav-link" (click)="signUp()" *ngIf="!isAuthenticated">
                  <i class="fas fa-sign-in-alt"></i> &nbsp; {{'button.sign-up' | translate}}
                </a>
                <a class="dropdown-item nav-link" (click)="signIn()" *ngIf="!isAuthenticated">
                  <i class="fas fa-sign-in-alt"></i> &nbsp; {{'button.sign-in' | translate}}
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
                            <button class="btn nav_search-btn dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-expanded="false">
                              <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" aria-expanded="false" style="position: relative;">
              <nb-badge text='{{getToTalProcuct()}}' status="warning" position="top start"></nb-badge>
              <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
            </a>
           <!--  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="food_section layout_padding-bottom">
                <div *ngFor="let commandeProductTab of commandeProductMap?.values()" >
                  <li *ngFor="let commandeProduct of commandeProductTab" >
                    <app-shopping-card-item [commandeProduct]="commandeProduct"></app-shopping-card-item>
                  </li>
                </div>
              </div>
              <hr class="dropdown-divider">
            </ul> -->
          <!--   <p *ngIf = "getShoppingCard() !== null" >Montant de la commande : {{getToTalValue()}} €</p>
            <p *ngIf = "getShoppingCard() !== null" >Montant de la livraison : {{4}}€</p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

          <li class="nav-item">
            <div class="dropdown">
              <button class="btn nav_search-btn dropdown-toggle" type="button"
                      data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-flag" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="setLanguage('fr')">
                  <img src="https://img.icons8.com/color/50/000000/france.png" class="flag-icon"/>
                  {{ "header.lang.fr" | translate }}
                </a>
                <a class="dropdown-item" (click)="setLanguage('en')">
                  <img src="https://img.icons8.com/color/50/000000/england.png" class="flag-icon"/>
                  {{ "header.lang.en" | translate }}
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a routerLink="/menu" class="order_online">
              {{ "header.order" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
