//.dropdown-menu {
//  height: auto !important;
//  //background-color: transparent !important;
//  //border: none;
//}
//
//.dropdown-item:hover {
//  //background-color:transparent !important;
//  cursor: pointer !important;
//}

.custom_nav-container .navbar-nav {
  padding: 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  text-align: start;
}

ul.navbar-nav.user_option {
  display: flex;
  flex-direction: row;
  //justify-content: center;
}

//a.dropdown-item {
//  margin: 0;
//}
//
//.dropdown-menu.bg-dark.show {
//  border: 1px solid #ffbe33;
//}

.flag-icon {
  width: 1rem;
  height: 1rem;
}

.dropdown-menu.show{
  background-color: black;
  border-color: #fbbe34
}

.user_option a {
  margin: 0;
  color: white;
}

.user_option a:hover {
  color: #fbbe34;
  background-color: black;
  cursor: pointer;
}
